*{
    font-family: 'Turret Road', cursive;
}

body{
    background: rgb(106,0,244);
    background: linear-gradient(90deg, rgba(106,0,244,1) 0%, rgba(255,146,182,1) 72%, rgba(137,252,0,1) 100%);
}

section{
    height: 500px;
    width: 60%;
    background-color: lightpink;
    border: solid 5px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 100px;
}

div{
    font-size: 2rem;
    font-weight:bolder;
}

.userNumberInput, .boutonDemarrer{
    width: 300px;
    height: 30px;
}