body {
    background: linear-gradient(217deg, rgba(242,0,137,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(137,252,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(45,0,247,.8), rgba(0,0,255,0) 70.71%);
    color: rgb(55, 0, 0);
    font-family: 'Space Mono', monospace;
}

main {
    text-align: center;
}

.addNoteForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(0.25turn, #f200ca, #903cff);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 150px;
}

.addNoteWrapper {
    display: flex;
    flex-direction: column;
}

.topDiv {
    display: flex;
    background-color: rgb(68, 166, 251);
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    width:max-content;
    border: solid 3px rgb(35, 0, 0);
}

.deleteNote{
    width: 200px;
    height: 150px;
}

.deleteNote img {
    margin: 10px;
}

.bottomDiv {
    display: flex;
    justify-content: space-evenly;
}

.todo, .done, .verified {
    width: 450px;
    height: 200px;
    border: solid 3px rgb(35, 0, 0);
    border-radius: 20px;
    background-color: rgb(68, 166, 251);
    margin: 20px;
    display: flex;
}

.note {
    width: 200px;
    height: 150px;
    background: linear-gradient(0.25turn, #f200ca, #903cff);
    border-radius: 10px;
    margin: auto;
}